@import "~bootstrap/scss/bootstrap";

$colors-for-square: (
  0: #b9e762,
  1: #FFFFCC,
  2: #CCCC00,
  3: #b4b249,
  4: #dab09b,
  5: #868f5e,
  6: #eca8bf,
  7: #ecbed5,
  8: #f367bb,
  9: #FF66FF,
  10: #CC33FF,
  11: #eb9deb,
  12: #a16dee,
  13: #a7bde9,
  14: #00CCFF,
  15: #669999,
  16: #99FFFF,
  17: #379bec,
  18: #e0ff33,
  19: #61c4ae,
  20: #CC99FF,
  21: #FFCCFF,
  22: #61f7d1,
  23: #8499df,
  24: #495bf7,
  25: #1f191f,
  );

@media (min-width: 368px) and (max-width: 538px) {
    .main-box {
        margin-left: calc(var(--bs-gutter-x) * 1);
        margin-right: calc(var(--bs-gutter-x) * 1);
        max-width: 380px;
    }
  }

@include media-breakpoint-up(md) { 
    .main-box {
        margin-left: calc(var(--bs-gutter-x) * 0.9);
        max-width: 650px;
    }
 }
@include media-breakpoint-up(lg) { 
    .main-box {
        margin-left: 60px;
        max-width: 810px;
    }
 }
@include media-breakpoint-up(xl) { 
    .main-box {
        margin-left: 20px;
        max-width: 1050px;
    }
 }
@include media-breakpoint-up(xxl) { 
    .main-box {
        margin-left: 0px;
        max-width: 1450px;
    }
 }

@mixin bk-for-stamp($deg, $c1, $c2) {
    background: repeating-linear-gradient($deg, $c1 0, $c2 1px, transparent 1px, transparent 3px);
}

.h-100-p {
    height: 300px;
}

 .sc {
     @each $class, $color in $colors-for-square {
         &-#{$class} {
             background-color: $color;
         }
     }
 }

 %stamp-shared {
     padding: 0 2px 0 2px;
     position: absolute;
     top: 20px;
     &:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        opacity: 0.4; 
        z-index: -1;
      }
 }

 .hidden {
    display: none;
 }

 .stamp-sold-light {
    @extend %stamp-shared;
    color: rgb(201, 14, 14);
    border: black solid 1px;
    border-radius: 5px;    
    text-shadow: 1px 1px 1px #000;
    transform: rotate(-0.02turn);
    &:before {
        @include bk-for-stamp(-60deg, #555 , #555)
    }
 }

 .stamp-sold-dark {
    @extend %stamp-shared;
    color: rgb(224, 24, 24);
    border: rgb(240, 234, 234) solid 1px;
    text-shadow: 1px 1px 1px rgb(53, 52, 52);
    border-radius: 5px;
    transform: rotate(-0.02turn);
    &:before {
        @include bk-for-stamp(-60deg, rgb(247, 238, 238) , rgb(238, 227, 227))
    }
 }

 .stamp-sale-light {
    @extend %stamp-shared;
    text-shadow: 1px 1px 1px #000;
    border: black solid 1px;
    border-radius: 5px;
    color: rgb(140, 223, 145);
    transform: rotate(0.02turn);
    &:before {
        @include bk-for-stamp(-60deg, #555 , #555)
    }
}

 .stamp-sale-dark {
    @extend %stamp-shared;
    color: rgb(140, 223, 145);
    text-shadow: 1px 1px 1px rgb(29, 28, 28);
    border: rgb(245, 243, 243) solid 1px;
    border-radius: 5px;
    transform: rotate(0.02turn);
    &:before {
        @include bk-for-stamp(-60deg, rgb(241, 239, 239) , rgb(243, 241, 241))
    }
}

 .main-box {
    z-index: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &:hover > *:not(.sold) {
        opacity: 0.6;
    }

}


 .square {
    height: 50px;
    width: 50px;
    z-index: 1;
    &:hover:not(.something) {
        z-index: 3;
        opacity: 1;
        transform:scale(2.5);
        transition: 100ms opacity, 500ms transform;
        box-shadow: 0 0 10px 2px rgb(164, 172, 241);
        cursor: pointer;
        .hidden {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
        }
    }
}

.square-without-transformation {
    height: 50px;
    width: 50px;
    z-index: 2;
    transform:scale(1.2);
}

